<%= link_to 'Upload new image', new_image_path if policy(:image).new? %>

<div class="row">
  <% @images.each do |image| %>
    <div class="col s12 m4">
      <%= link_to image do %>
      <div class="card">
        <div class="card-image">
          <%= image_tag image.image.url(:show) %>
          <span class="card-title"><%= image.name %></span>
        </div>
        <div class="card-content">
          <%= truncate image.description, length: 100 %>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
