<h1>Images#new</h1>
<p>Find me in app/views/images/new.html.erb</p>

<%= simple_form_for @image do |form| %>
  <%= form.input :name, label: false, placeholder: 'Name' %>
  <%= form.input :description, label: false, placeholder: 'Description' %>
  <%= form.input :image, as: :file %>
  <%= form.submit 'Upload Image' %>
<% end %>
